/*

  Base
  +

*/

body{

  background: $white;
  border: none;
  color: $base-text-color;
  @include fontSize(18px);
  font-family: $font-stack;
  padding-left: 380px;

  .lock-scroll{
    height: 100%;
    position: fixed;
    width: 100%;
  }

  *{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection{
  background: $black;
  color: $white;
}

a{
  color: inherit;;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

img{
  display: block;
  height: auto;
  max-width: 100%;
}

del{
  text-decoration: line-through 2px $rose;
}

.skip-link{
  position: absolute;
  left: -9999rem;
  top: 2.5rem;
  z-index: 9999999;

  &:focus{
    left: 2.5rem;
    text-decoration: none;
  }
}

.group, .pageination, .gallery, .entry-content{
  &:after{
    clear: both;
    content: "";
    display: block;
  }
}

input{
  &::-webkit-input-placeholder, &::-moz-placeholder, &::-ms-input-placeholder{
    color: rgba($black, 0.4 ); 
  }
}


//Lists, ul,ol,dd etc

ol, ul{
  margin-left: 40px;
}

li{
  line-height: 1.625em;
  margin-top: 15px;
}

dd, dt{
  line-height: 1.5;
}

dt{
  font-weight: 700;
}

//code

code{
  background: $cream;
  padding: 0 1px;
}

pre{
  background: $cream;
  @include fontSize(14px);
  line-height: 1.5;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

//Inputs
fieldset{
  border: 1px solid rgba($black,.2);
  padding: 25px;

  legend{
      @include fontSize(16px);
      font-weight: 600;
      margin-left: -15px;
      padding: 0 15px;
  }
}

//Input -types+textarea
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="month"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="week"], input[type="number"], input[type="search"], input[type="tel"], input[type="color"],textarea{
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba($black,.2);
  box-shadow: none !important;
  color: $black;
  font-size: 1em;
  margin: 0 0 30px;
  padding: 15px;
  transition: border-color .15s linear;
  appearance: none;
  width: 100%;
}

textarea{
  line-height: 1.4;
  height: 200px;
}

button, .button, .wp-block-file__button, .wp-block-button__link, input[type="button"], input[type="submit"]{
  appearance: none;
  background: $black;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $white;
  display: inline-block;
  @include fontSize(16px);
  font-weight: 600;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color $var-base-transition;

  &:hover{
    background: $gray;
    cursor: pointer;
  }
}

.is-style-outline > .wp-block-button__link, .wp-block-button__link.is-style-outline {
	padding: 14px 22px;
}

//hr
hr{
  border: none;
  border-top: 1px solid rgba($black,.13);
  margin: 50px auto;
  width: 50%;

  .is-style-wide, .is-style-dots{
    width: 100%;
  }
}

//address
address{
  background: $white;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 20px 22px;
}

//Global Alignment

.alignleft, .alignright{
  margin-bottom: 20px;
  max-width: 40%;
}

.alignleft{
  float: left;
  margin: 5px 40px 30px -80px;
}

.alignright{
  float: right;
  margin: 5px -80px 30px 40px;
}

.alignnone{
  margin-left: -80px;
  margin-right: -80px;
  max-width: calc(100% - 160px);

  img{
    width: 100%;
  }
}