/*

  Base
  +

*/

body{

  background: $white;
  border: none;
  color: $base-text-color;
  @include fontSize(18px);
  font-family: $font-stack;
  padding-left: 380px;

  .lock-scroll{
    height: 100%;
    position: fixed;
    width: 100%;
  }

  *{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection{
  background: $black;
  color: $white;
}

a{
  color: inherit;;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

img{
  display: block;
  height: auto;
  max-width: 100%;
}

.skip-link{
  position: absolute;
  left: -9999rem;
  top: 2.5rem;
  z-index: 9999999;

  &:focus{
    left: 2.5rem;
    text-decoration: none;
  }
}
//Lists, ul,ol,dd etc

ol, ul{
  margin-left: 40px;
}

li{
  line-height: 1.625em;
  margin-top: 15px;
}

dd, dt{
  line-height: 1.5;
}

dt{
  font-weight: 700;
}

//code

code{
  background: $cream;
  padding: 0 1px;
}

pre{
  background: $cream;
  @include fontSize(14px);
  line-height: 1.5;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
}