/*

  Media Queries
  +

*/

// max-width: 2500px
@media (max-width: 2500px){

 
}


// max-width: 1240px
@media (max-width: 1240px){

  .entry-content{
    .alignwide{
      margin-left: calc(50% - 50vw + 190px);
      max-width: calc(110vw - 380px);
      width: calc(100vw - 380px);
    }
  }
}

// max-width: 1200px
@media (max-width: 1200px){
  .entry-content{
    .alignnone{
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  //pull quotes
  .alignleft, .entry-content .pull.left{
    margin-left: 0;
   }

   .alignright, .entry-content .pull.right{
    margin-right: 0;
   }
}

// max-width: 1050px
@media (max-width: 1050px){

 body{
   padding-left: 320px;
 }

 .site-header{
   padding: 80px 40px;
   width: 320px;
 }

 .entry-content{
   .alignfull, .alignwide{
     margin-left: calc(50% - 50vw + 160px);
     max-width: calc(100vw -320px);
     width: calc(100vw - 320px);
   }
 }

 .search-overlay{
   &.active{
     left: 320px;
   }
 }
}

@media (max-width: 980px){

  .site-header{
    padding: 30px 40px;
  }

  .site-title{
    margin: 0;
  }

  .site-description{
    margin-bottom: 7px;
  }

  .main-menu{
    margin-top: 40px;
  }
}

// max-width: 620px
@media (max-width: 620px){
  .site-header{
    padding: 26px 7.5%;
  }
  
  .site-description{
    display: none;
  }

  .mobile-menu-wrapper{
    padding-top: 74px;
  }

  .site-nav{
    padding-top: 124px;
    padding-bottom: 40px;

    ul{
      &:first-child{
        li{
          @include fontSize(30px);
        }
      }
      + ul{
        li{
          @include fontSize(20px);
          font-weight: 400;

          + li{
            margin-top: 10px;
          }
        }
      }
    }
    footer{
      display: none;
    }
  }

  .mobile-search{
    top: 74px
  }

  .entry-header{
    margin: 50px auto;
  }

  .post-pagination{
    margin-top: 50px;
  }

  .comments, .comment-respond, .related-posts{
    margin-top:50px;
  }

  .entry-content{
    p{
      margin-bottom: 25px;
    }

    hr{
      margin: 30px auto;
    }

    .pull.left, .pull.right{
      float: none;
      margin: 40px 0;
      width: 100%;
    }
  }

  .gallery{
    left: calc(50% - 50vw);
    margin: 40px auto 30px;
    padding: 0 5px;
    width: 100vw;

    + .gallery{
      margin-top: -30px;
    }

    .gallery-item{
      margin-bottom: 10px;
      padding: 0 5px;
    }
  }


  .gallery-caption{
    display: none;
  }

  .gallery-columns-2, .gallery-columns-3, .gallery-columns-4, .gallery-columns-5, .gallery-columns-6, .gallery-columns-7, .gallery-columns-8,.gallery-columns-9{
    .gallery-item{
      width: 50%;
    }
  }

  .comments-pagination{
    margin-top: 80px;
  }

  .comment-respond{
    .comment-form-author, .comment-form-email{
      float: none;
      margin: 20px 0 0;
      width: 100%;
    }
  }

  .resume-template, .portfolio-template{
    .entry-content{
      padding-left: 0;
    
      h1,h2,h3,h4,h5,h6{
        @include fontSize(20px);
        margin: 50px 0  23px;
        padding: 24px 0 0;
      }
    }
  }

  .site-footer{
    display:block;
    margin-top: 60px;
    padding: 25px 0;

    .copyright, .theme-by{
      text-align: left;
    }
    .theme-by{
      margin: 9px 0 0;
    }
  }
}

// max-width: 500px
@media (max-width: 500px){
  body{
    @include fontSize(16px);
  }
 
  .excerpt{
    @include fontSize(18px);
  }

  h1,h2,h3,h4,h5,h6{
    margin: 40px 0 20px;
  }

  h1{
    @include fontSize(28px);
  }
  h2{
    @include fontSize(26px);
  }
  h3{
    @include fontSize(24px);
  }
  h4{
    @include fontSize(20px);
  }
  h5{
    @include fontSize(18px);
  }

  .main-menu{
    margin-top: 40px;
  }

  .entry-header{
    margin: 40px auto;
    .excerpt{
      margin-top: 10px;
    }
    .meta{
      margin-top: 25px;
    }
  }

  .entry-title{
    @include fontSize(24px);
  }

  .post-pagination{
    display: block;

    div{
      width: 100%;
    }

    .next-post{
      margin: 12px 0 0;
      text-align: right;
    }
  }

  .comments, .comment-respond, .related-posts{
    margin: 50px 0 0;
    padding: 15px 0 0;
  }

  .comment-reply-title, .related-posts-title{
    margin-bottom: 25px;
  }
  
  .related-posts{
    display: flex;
    margin: 0 0 15px;
    width: 100%;
  }

  .related-post-image{
    height: 80px;
    min-width: 80px;
    margin: 0 12px 0 0;
  }

  .entry-content{
    .alignnone, .aligncenter, .alignwide, .alignfull{
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .page-header{
    padding: 50px 0;
  }

  .page-subtitle{
    @include fontSize(16px);
  }

  .page-title{
    @include fontSize(20px);
  }

  .posts{
    &:first-child, > ul + ul{
      margin-top: 50px;
    }
  }

  .sticky{
    .sticky-arrows{
      display: inline-block;
      margin-right: 2px;
      position: static;
    }
  }

  .comment{
    margin-top: 25px;
    
    .comment{
      margin-left: 30px;
    }
  }

  .archive-pagination{
    margin-top: 50px;
  }

  .error404{
    .search-form{
      margin-top: 22px;
    }
  }
}


// max-width: 400px
@media (max-width: 400px){
  .entry-content{
    p{
      margin-bottom: 20px;
    }

    ol, ul{
      margin-left: 30px;
    }

    li{
      margin-top: 12px
    }

    blockquote{
      margin-bottom: 20px;
    }

    h1, h2, h3, h4, h5, h6{
      margin: 40px 0 20px;
    }
  }

  .resume-template, .portfolio-template{
    .entry-content{
      h1,h2,h3,h4,h5,h6{
        margin: 40px 0  20px;
        padding: 21px 0 0;
      }
    }
  }

  .comment-meta{
    .comment-author{
      display: block;
      margin-bottom: 2px;
      width: 100%;
    }

    span + span{
      margin-left: 0;
    }

    .comment-date{
      ~ span{
        margin-left: 10px;
      }
    }
  }

  .comments-pagination{
    .page-numbers{
      display: none;

      &.prev, & .next{
        display: block;
        position: static
      }

      &.prev{
        float: left;
      }

      &.next{
        float: right;
      }
    }
  }
}
// min-width: 1920px
@media (min-width: 1920px){
    .gallery{
        left: calc(50% - 730px);
        width: 1460px
    }
}

//min-width: 1000px
@media (min-width: 900px){
  #commentform{
    padding: 30px 0 0;
    width: 100%;
  }
}

//Landscape mode
@media (max-width: 1000px) and (orientation: landscape){
  .mobile-menu-wrapper{
    padding-bottom: 40px;

    .main-menu{
      margin-top: 20px;
      padding-bottom: 0;
      padding-right: 50%;
    }

    .social-menu{
      left: auto;
      max-width: 50%;
      padding: 40px 7.5% 40px 0;
    }
  }
}