/*

  Media Queries
  +

*/

// max-width: 2500px
@media (max-width: 2500px){

 
}


// max-width: 1240px
@media (max-width: 1240px){

  .entry-content{
    .alignwide{
      margin-left: calc(50% - 50vw + 190px);
      max-width: calc(110vw - 380px);
      width: calc(100vw - 380px);
    }
  }
}

// max-width: 1200px
@media (max-width: 1200px){
  .entry-content{
    .alignnone{
      margin-left: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  //pull quotes
  .alignleft, .entry-content .pull.left{
    margin-left: 0;
   }

   .alignright, .entry-content .pull.right{
    margin-right: 0;
   }
}

// max-width: 1050px
@media (max-width: 1050px){

 body{
   padding-left: 320px;
 }

 .site-header{
   padding: 80px 40px;
   width: 320px;
 }

 .entry-content{
   .alignfull, .alignwide{
     margin-left: calc(50% - 50vw + 160px);
     max-width: calc(100vw -320px);
     width: calc(100vw - 320px);
   }
 }

 .search-overlay{
   &.active{
     left: 320px;
   }
 }
}

@media (max-width: 980px){

  .site-header{
    padding: 30px 40px;
  }

  .site-title{
    margin: 0;
  }

  .site-description{
    margin-bottom: 7px;
  }

  .main-menu{
    margin-top: 40px;
  }
}

