/*

  Typography
  +

*/

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 60px 0 30px;
}

h1{
  @include fontSize(40px);
}

h2{
  @include fontSize(32px);
}

h3{
  @include fontSize(28px);
}

h4{
  @include fontSize(24px);
}

h5{
  @include fontSize(20px);
}

h6{
  @include fontSize(18px);
}