/*

  Variables
  +

*/


// Colours



//Black
$deepblack: #000;
$black: #121212;
$medium-black: #1d1d1d;
$darker-gray: #272727;
$dark-gray:#101010;
$gray: #454545;
$medium-gray: #888;
$light-gray: #d1d1d1;

//White
$white: #fff;
$cream: #f0efeb;

//Red
$deeprose: #2c020e;
$rose: #610c24;
$soft-red: #dc535b;
$medium-red: #c9373f;

//Pink/Purple
$magenta: #930f5b;
$deeppink: #C9184A;
$pink: #FF4D6D;
$lightpink: #FF4D6D;
$lightestpink: #FFF0F3;

//Blue
$aqua: #00add0;
$deepaqua:#1A5C7A;

//Theme colours
$color-primary: #000;
$primary-color: $deeppink;
$secondary-color: $pink;
$third-color: $lightpink;

$base-text-color: $black;

// Base

$base-line-height: 1.7;

//Google font
@import url(https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;600;700;800;900&display=swap);

//Typekit font

//Fonts
$font-stack: Archivo, 'Helvetica Neue', sans-serif;

// Weights
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

//Text Transform
$text-cap: capitalize; 
$text-lower: lowercase;
$text-upper: uppercase;
$text-none: none;

//Transitions
$base-transition:  all .15s linear;
$var-base-transition:   .15s linear;