/*

  Blocks
  + 1. Base Margins
  + 2. Accent Colours
  + 3. Font Sizes
  + 4. Blocks 
    4.1 Audio
    4.2 Buttons
    4.3 Column
    4.4 Cover Image
    4.5 File
    4.6 Gallery
    4.7 Image
    4.8 Media & Text
    4.9 Pullquotes
    4.10 Social Links
    4.11 Quote
*/

// 1. Base Margins
*[class*="_inner-container"] > *:first-child{
    margin-top: 0;
}

*[class*="_inner-container"] > *:last-child{
    margin-bottom: 0;
}

.wp-block-archives, .wp-block-button, .wp-block-buttons, .wp-block-categories, .wp-block-code, .wp-block-columns, .wp-block-cover, .wp-block-embed, .wp-block-gallery, .wp-block-group, .wp-block-image, .wp-block-latest-comments, .wp-block-latest-posts, .wp-block-media-text, .wp-block-preformatted, .wp-block-pullquote, .wp-block-social-links, .wp-block-quote, .wp-block-quote.is-large, .wp-block-quote.is-style-large, .wp-block-verse, .wp-block-video{
    margin: 30 0;
}

// 2. Accent Colours
:root{
    .has-background, .has-black-background-color{background-color: $black;}
    .has-black-color, .has-black-color a:hover{color: $black;}
    .has-black-color a{border-bottom-color: $black;}

    .has-dark-gray-color{color:$gray;}
    .has-dark-gray-color a{border-bottom-color: $gray;}
    .has-dark-gray-color a:hover{color: $gray;}
    .has-dark-gray-background-color{background-color: $gray;}

    .has-medium-gray-color{color:$medium-gray;}
    .has-medium-gray-color a{border-bottom-color: $medium-gray;}
    .has-medium-gray-color a:hover{color: $medium-gray;}
    .has-medium-gray-background-color{background-color: $medium-gray;}

    .has-light-gray-color{color:$light-gray;}
    .has-light-gray-color a{border-bottom-color: $light-gray;}
    .has-light-gray-color a:hover{color: $light-gray;}
    .has-light-gray-background-color{background-color: $light-gray;}

    .has-white-color{color:$white;}
    .has-white-color a{border-bottom-color: $white;}
    .has-white-color a:hover{color: $white;}
    .has-white-background-color{background-color: $white;}
}

//3. Font Sizes
:root{
    .has-small-font-size{font-size: .842em;}
    .has-regular-font-size, .has-normal-font-size{font-size: 1em;}
    .has-large-font-size, .has-larger-font-size{line-height: 1.5;}
    .has-large-font-size{font-size: 1.33em;}
    .has-larger-font-size{font-size: 1.55em;}
}

//4. Blocks

//4.1 Audio 
.wp-block-audio audio{
    width: 100%;
    background-color: $rose !important;
    border-radius: 4px !important;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body{
    background-color: $rose !important;
    border-radius: 4px !important;
}

.mejs-controls .mejs-time-rail .mejs-time-current{
    background-color: $darker-gray !important;
}
//4.2 Buttons
:root .wp-block-button__link{
    border: none;
}

.wp-block-buttons .wp-block-button{
    margin-top: 0;
}
:root .wp-block-buttons:not(.is-style-outline) .wp-block-button:not(.is-style-outline){
    border: none;
}

:root .is-style-outline > .wp-block-button__link, :root .wp-block-button__link.is-style-outline{
    border: 2px solid;
}

//4.3 Column
.wp-block-column{
    padding: 0 5px;
}

.wp-block-column {
    > *:first-child{
        margin-top: 0;
    }

    > *:last-child{
        margin-bottom: 0;
    }
    
}

//4.4 Cover Image
.wp-block-cover-image{
    color: $white;
    p{
        font-weight: 400;
    }
}

//4.5 File
.entry-content .wp-block-file{
    align-items: center;
    background: rgba($black, .05);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px;

    a:not(.wp-block-file__button){
        border:none;
        font-weight: 500;
        text-decoration: none;
    }
}

.entry-content .wp-block-file__button{
    flex-shrink: 0;
}

//4.6 Gallery
.wp-block-gallery{
    .blocks-gallery-image figcaption, .block-gallery-item figcaption{
        color: $white;
        margin: 0;
        padding-bottom: 10px;
    }
}

.entry-content{
    .wp-block-gallery.alignfull{
        padding: 0 1em;
    }

    ul.wp-block-gallery:not(.alignfull):not(.alignwidge){
        margin-left: 0;
    }

    ul.wp-block-gallery > li:first-child{
        margin-top: 0;
    }

    ul.wp-block-gallery > li:last-child{
        margin-bottom: 16px;
    }
}

//4.7 Image
.wp-block-image{
    .aligncenter > figcaption,
    .alignleft > figcaption,
    .alignright > figcaption{
        display: block;
    }
}

.wp-block-image.is-resized{
    display: block;
}

//4.8 Media & Text
.wp-block-media-text__content >{
    *:first-child{
        margin-top: 0;
    }

    *:last-child{
        margin-bottom: 0;
    }
}

//4.9 Pullquotes
.wp-block-pullquote{
    blockquote{
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        &:before{
            content: none;
        }
    }
}

.wp-block-pullquote.alignleft, .wp-blockpullquote.alignright{
    max-width: 60%;
}

.wp-block-pullquote, .wp-block-pullquote.alignleft,.wp-block-pullquote.alignright{
    blockquote{
        p{
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: -.025em;
            margin-bottom: 1em;
        }
    }
}  

.wp-block-pullquote.alignleft,.wp-block-pullquote.alignright{
    blockquote{
        p{
            line-height: 1.3;
        }
    }
}

// Style - Solid Colour
.wp-block-pullquote.is-style-solid-color{
    blockquote{
        max-width: none;
        padding: 20px;
    }

    blockquote p{
        font-size: 1.25em;
    }
}

//4.10 Social Links
.wp-social-link{
    margin: 0 8px 0;
}

//4.11 Quote
.wp-block-quote{
    [style*="text-align:center"], [style*="text-align: center"]{
        border: none;
        padding: 0;
    }
}

.wp-block-quote{
    [style*="text-align:right"], [style*="text-align: right"]{
        border-width: 0 2px 2px 0;
        padding-left: 0;
        padding-right: 20px;
    }
}

.entry-content .wp-block-quote.is-large, .entry-content .wp-block-quote.is-style-large{
    margin: 0 0 30px;
    padding: 0 0 0 30px;
}

.entry-content{
    blockquote p:last-child{
        margin-bottom: 0;
    }
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large{
    p{
        font-size: 1.25em;
        font-style: normal;
        line-height: 1.5;
    }

    cite{
        display:block;
        font-size: 1em;
        text-align: left;
    }
}