/*
  Blocks
  + 1. Base Margins
  + 2. Accent Colours
  + 3. Font Sizes
*/

// 1. Base Margins
*[class*="_inner-container"] > *:first-child{
    margin-top: 0;
}

*[class*="_inner-container"] > *:last-child{
    margin-bottom: 0;
}

.wp-block-archives, .wp-block-button, .wp-block-buttons, .wp-block-categories, .wp-block-code, .wp-block-columns, .wp-block-cover, .wp-block-embed, .wp-block-gallery, .wp-block-group, .wp-block-image, .wp-block-latest-comments, .wp-block-latest-posts, .wp-block-media-text, .wp-block-preformatted, .wp-block-pullquote, .wp-block-social-links, .wp-block-quote, .wp-block-quote.is-large, .wp-block-quote.is-style-large, .wp-block-verse, .wp-block-video{
    margin: 30 0;
}

// 2. Accent Colours
:root{
    .has-background, .has-black-background-color{background-color: $black;}
    .has-black-color, .has-black-color a:hover{color: $black;}
    .has-black-color a{border-bottom-color: $black;}

    .has-dark-gray-color{color:$gray;}
    .has-dark-gray-color a{border-bottom-color: $gray;}
    .has-dark-gray-color a:hover{color: $gray;}
    .has-dark-gray-background-color{background-color: $gray;}

    .has-medium-gray-color{color:$medium-gray;}
    .has-medium-gray-color a{border-bottom-color: $medium-gray;}
    .has-medium-gray-color a:hover{color: $medium-gray;}
    .has-medium-gray-background-color{background-color: $medium-gray;}

    .has-light-gray-color{color:$light-gray;}
    .has-light-gray-color a{border-bottom-color: $light-gray;}
    .has-light-gray-color a:hover{color: $light-gray;}
    .has-light-gray-background-color{background-color: $light-gray;}

    .has-white-color{color:$white;}
    .has-white-color a{border-bottom-color: $white;}
    .has-white-color a:hover{color: $white;}
    .has-white-background-color{background-color: $white;}
}

//3. Font Sizes
:root{
    .has-small-font-size{font-size: .842em;}
    .has-regular-font-size, .has-normal-font-size{font-size: 1em;}
    .has-large-font-size, .has-larger-font-size{line-height: 1.5;}
    .has-large-font-size{font-size: 1.33em;}
    .has-larger-font-size{font-size: 1.55em;}
}

//4. Blocks

//4.1 Audio 
.wp-block-audio audio{
    width: 100%;
}

//4.2 Buttons
:root .wp-block-button__link{
    border: none;
}

.wp-block-buttons .wp-block-button{
    margin-top: 0;
}
:root .wp-block-buttons:not(.is-style-outline) .wp-block-button:not(.is-style-outline){
    border: none;
}

:root .is-style-outline > .wp-block-button__link, :root .wp-block-button__link.is-style-outline{
    border: 2px solid;
}

//4.3 Column
.wp-block-column{
    padding: 0 5px;
}

.wp-block-column {
    > *:first-child{
        margin-top: 0;
    }

    > *:last-child{
        margin-bottom: 0;
    }
    
}

//4.4 Cover Image
.wp-block-cover-image{
    color: $white;
    p{
        font-weight: 400;
    }
}

//4.5 File
.entry-content .wp-block-file{
    align-items: center;
    background: rgba($black, .05);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px;

    a:not(.wp-block-file__button){
        border:none;
        font-weight: 500;
        text-decoration: none;
    }
}

.entry-content .wp-block-file__button{
    flex-shrink: 0;
}

//4.6 Gallery
.wp-block-gallery{
    .blocks-gallery-image figcaption, .block-gallery-item figcaption{
        color: $white;
        margin: 0;
        padding-bottom: 10px;
    }
}

.entry-content{
    .wp-block-gallery.alignfull{
        padding: 0 1em;
    }

    ul.wp-block-gallery:not(.alignfull):not(.alignwidge){
        margin-left: 0;
    }

    ul.wp-block-gallery > li:first-child{
        margin-top: 0;
    }

    ul.wp-block-gallery > li:last-child{
        margin-bottom: 16px;
    }
}

//4.7 Image
.wp-block-image{
    .aligncenter > figcaption,
    .alignleft > figcaption,
    .alignright > figcaption{
        display: block;
    }
}

.wp-block-image.is-resized{
    display: block;
}
