/*

  Gallery
  +

*/


//Galleries
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 30px 0;
    padding: 0;
    position: relative;
    left: calc(50% - 50vw + 220px);
    width: calc(100vw - 440px);

    + .gallery{
        margin-top: -30px;
    }

    .gallery-item{
        display: block;
        float:left;
        margin: 0 0 20px;
        padding:0 10px;
        position: relative;
        width: 100%;

        &:hover{
            filter: opacity(95%);
        }
    }
}

.gallery-columns-1 .gallery-item{width: 100%;}
.gallery-columns-2 .gallery-item{width: 50%;}
.gallery-columns-3 .gallery-item{width: 33.3%;}
.gallery-columns-4 .gallery-item{width: 25%;}
.gallery-columns-5 .gallery-item{width: 20%;}
.gallery-columns-6 .gallery-item{width: 16.6%;}
.gallery-columns-7 .gallery-item{width: 14.28%;}
.gallery-columns-8 .gallery-item{width: 12.5%;}
.gallery-columns-9 .gallery-item{width: 11.1%;}

.gallery .gallery-item{
    a{
        border: none;
        display: block;
        line-height: 0;
        text-align: center;
    }
}

.gallery img{
    width: 100%;

   
}

.gallery-caption{
    background: $rose;
    color: $white;
    @include fontSize(12px);
    line-height: 1.35;
    margin: 0;
    max-width: calc(100% - 40px);
    max-height: 50%;
    overflow: hidden;
    padding: 11px 14px 10px;   
    position:absolute;
    bottom: 10px;
    left: 20px;
}

.gallery-columns-1, .gallery-columns-2, .gallery-columns-3{
    .gallery-caption {
        bottom: 40px;
        @include fontSize(14px);
        left: 50px;
        max-width: calc( 100% - 100px );
    }
}

.gallery-columns-3{
    .gallery-caption{
        bottom: 30px;
        left: 40px;
        max-width: calc( 100% - 80px);
    }
}

//Tiled Galleries
.entry-content .tiled-gallery{
    margin: 50px auto;
}