/*

  Header
  +

*/

.header{
  display: block;
  padding: 150px 30px 0;
  width: 420px;
  max-width: 100%;

  h1{
    margin: 0 0 30px;
.site-header{
  background: $rose;
  color: $white;
  margin: 0 auto;
  padding: 80px 50px 144px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 380px;
  z-index: 99998;
}

.same-custom-bgs, .white-bg{
  .site-header{
    border-right: 1px solid rgba($black, .075);
  }
}

.site-header{
  a{
    color: $lightpink;
  }
}


.site-title, .site-description{
  line-height:  1.25;
}

.site-title{
  a{
    
    text-decoration: none;
    transition: border-bottom ease-in .5s;
    font-size: 2.5rem;
    font-weight: 0;
    &:hover{
      border-bottom: 2px solid $lightpink;
      transition: ease-in .15s;
    }
  }
}

.site-description{
  color: $lightpink;
  margin-top: 8px;
  @include fontSize(14px);
  font-weight: 600;
}

//Navigation
.nav-toggle {
	cursor: pointer;
	display: none;
  height: 30px;
  position: absolute;
	right: 7.5%;
	top: calc( 50% - 15px );
  width: 50px;

  &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -20px;
      left: -20px;
      right: 0;
      top: -20px;
    }

  .bar {
    background: $lightestpink;
    display: block;
    height: 1px;
    margin-top: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate( 0deg );
    transition: transform .2s ease-in 0s, margin 0.2s ease-out 0.2s;
    width: 28px;
    z-index: 1;
  }  
}

//Site Navigation
.mobile-menu-wrapper, .mobile-search{
  display: none;
  transform: translateZ(0);
}

.main-menu{
  height:100%;
  margin: 0;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: auto;
  width: 100%;

  a{
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover{
      border-bottom-color: $lightpink;
    }
  }
  .current-menu-item > a{
    border-bottom-color: $white;
  }
  }
}