/*

  Header
  +

*/

.header{
  display: block;
  padding: 150px 30px 0;
  width: 420px;
  max-width: 100%;

  h1{
    margin: 0 0 30px;
.site-header{
  background: $rose;
  color: $white;
  margin: 0 auto;
  padding: 80px 50px 144px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 380px;
  z-index: 99998;
}

.same-custom-bgs, .white-bg{
  .site-header{
    border-right: 1px solid rgba($black, .075);
  }
}

.site-header{
  a{
    color: $lightpink;
  }
}


.site-title, .site-description{
  line-height:  1.25;
}

.site-title{
  a{
    
    text-decoration: none;
    transition: border-bottom ease-in .5s;
    font-size: 2.5rem;
    font-weight: 0;
    &:hover{
      border-bottom: 2px solid $lightpink;
      transition: ease-in .15s;
    }
  }
}

  }
}