/*

  Pages
  +

  + 1. Archive
    1.1 Archive Pagination
  + 2. Post Wrappers
  + 3. Post Previews
  + 4. Singular Post
*/

// 1. Archive
.page-header {
  padding: 80px 0;

  &:last-child{
    padding-bottom: 0;
  }

  p{
    line-height: 1.5;
    margin-top: 20px;
  }

  .search-form {
    margin-top: 20px;
  }
}

.page-subtitle{
  color: rgba($black,.4);
  margin: 0 0 10px;
}

.page-title{
  @include fontSize(24px);
  hanging-punctuation: first-letter;
  line-height: 1.45;
  margin: 0;
}

//1.1 Archive Pagination
.archive-pagination{
  margin-top: 100px;

  a{
    color:rgba($black, .35);
    text-decoration: none;

    &:hover{
      color: $black;
    }
  }

  .previous-posts-link{
    float: left;
  }
  
  .next-posts-link{
    float: right;
  }

  h4{
    font-size: inherit;
    font-weight: inherit;
    max-width: 0;
  }

}

//2. Post Wrappers
.posts{
  &:first-child{
    margin-top: 80px
  }

  ul{
    list-style: none;
  }

  li{
    margin: 0;
  }

  > ul + ul{
    margin-top: 70px;
  }

  .list-title{
    margin: 0 0 17px;

    a{
      color: rgba($black, .4);
      text-decoration: none;

      &:hover{
        color: $black;
        text-decoration: none;
      }
    }
  }
}

//3. Post Previews
.post-preview{
  border-top: 1px solid $rose;
  position: relative;

  a{
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-decoration: none;

    &:hover{
      text-decoration: none;
    }
  }

  time{
    color: rgba($black,0.4);
    line-height: 1.25;
    margin-left: 30px;
    white-space: nowrap;
  }
}

.post-preview a .title span{
  border-bottom: 1px solid transparent;
  transition: border-color .2s linear;

  &:hover{
    border-bottom-color: $black;
  }
}

.post-preview.no-title{
  a{
    justify-content: flex-end;
  }
}

// 4. Singular

// Entry Header
.entry-header{
  margin:  80px auto 60px;

  .excerpt{
    margin-top: 15px
  }
}

// Meta
.meta{
  color: rgba($black, .4);
  margin-top: 25px;

  > * + * {
    margin-left: 23px;
  }

  a{
    border-bottom: 1px solid transparent;
    color: inherit;
    text-decoration: none;

    &:hover{
      border-bottom-color: rgba($black, .4);
    }
  }
}

.meta.bottom{
  margin-top: 40px;

  p{
    line-height: 1.5;
  }
  p.tags{
    a{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
