/*

  Pages
  + 1. Archive
    1.1 Archive Pagination
  + 2. Post Wrappers
  + 3. Post Previews
    3.1 Post Type: Chat
  + 4. Singular Post
  + 5. Page Image
  + 6. Linked pages
  + 7. Single Pagination
  + 8. Comments
    8.1 Comments Pagination
    8.2 Comments Respond
  + 9. Related Posts
  + 10. Entry Content
    10.1 Pull Quotes
    10.2 Alignment Classes
  + 11. WP Page Templates
  + 12. Search
*/


// 1. Archive
.page-header {
  padding: 80px 0;

  &:last-child{
    padding-bottom: 0;
  }

  p{
    line-height: 1.5;
    margin-top: 20px;
  }

  .search-form {
    margin-top: 20px;
  }
}

.page-subtitle{
  color: rgba($black,.4);
  margin: 0 0 10px;
}

.page-title{
  @include fontSize(24px);
  hanging-punctuation: first-letter;
  line-height: 1.45;
  margin: 0;
}

//1.1 Archive Pagination
.archive-pagination{
  margin-top: 100px;

  a{
    color:rgba($black, .35);
    text-decoration: none;

    &:hover{
      color: $black;
    }
  }

  .previous-posts-link{
    float: left;
  }
  
  .next-posts-link{
    float: right;
  }

  h4{
    font-size: inherit;
    font-weight: inherit;
    max-width: 0;
  }

}

//2. Post Wrappers
.posts{
  &:first-child{
    margin-top: 80px
  }

  ul{
    list-style: none;
  }

  li{
    margin: 0;
  }

  > ul + ul{
    margin-top: 70px;
  }

  .list-title{
    margin: 0 0 17px;

    a{
      color: rgba($black, .4);
      text-decoration: none;

      &:hover{
        color: $black;
        text-decoration: none;
      }
    }
  }
}

//3. Post Previews
.post-preview{
  border-top: 1px solid $rose;
  position: relative;

  a{
    display: flex;
    justify-content: space-between;
    padding: 0;
    text-decoration: none;

    &:hover{
      text-decoration: none;
    }
  }

  time{
    color: rgba($black,0.4);
    line-height: 1.25;
    margin-left: 30px;
    white-space: nowrap;
  }
}

.post-preview a .title span{
  border-bottom: 1px solid transparent;
  transition: border-color .2s linear;

  &:hover{
    border-bottom-color: $black;
  }
}

.post-preview.no-title{
  a{
    justify-content: flex-end;
  }
}

.sticky{
  
      .sticky-arrow{ 
        &::before{
        content: '\f249';
        font-family: 'Font Awesome 5 Pro';
        display: inline-block;
        @include fontSize(26px);
        padding-right: 12px;
        color: $rose;
       }
      }
}

//3.1 Post Type: Chat
.tag-chat {
  .entry-content {
    p:nth-child(odd), p:nth-child(even){
      padding: 8px;
      border-radius: 8px;
      margin: 6.5% 0;
      color: $cream;

      &:hover{
        background: $deeprose;
        transition: background $var-base-transition;
      }
    }

    p:nth-child(odd){
      background: rgba($rose, .85);
    }

    p:nth-child(even){
      background: $rose;
    }
  }
}

// 4. Singular

// Entry Header
.entry-header{
  margin:  80px auto 60px;

  .excerpt{
    margin-top: 15px
  }
}

// Meta
.meta{
  color: rgba($black, .4);
  margin-top: 25px;

  > * + * {
    margin-left: 23px;
  }

  a{
    border-bottom: 1px solid transparent;
    color: inherit;
    text-decoration: none;

    &:hover{
      border-bottom-color: rgba($black, .4);
    }
  }
}

.meta.bottom{
  margin-top: 40px;

  p{
    line-height: 1.5;
  }
  p.tags{
    a{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
//5. Page Images
.feature-image img{
  width: 100%;
}

//6. Linked pages
.linked-pages{
  margin-top: 50px;
}

//7. Single Pagination
.post-pagination{
  display:flex;
  @include fontSize(18px);
  justify-content: space-between;
  margin-top:100px;

  div{
    width: calc(50% - 15px);
  }

  div + div{
    margin-left: 30px;
    text-align: right;
  }

  a{
    display:block;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    word-break: break-word;

    &:before{ 
      background: no-repeat center;
      background-size: contain;
      content: "";
      display: block;
      height: 12px;
      position:absolute;
      top: 4px;
      width: 15px;
    }

    span{
      border-bottom: 1px solid transparent;
      transition: border-bottom-color $var-base-transition;

      &:hover span{
        border-bottom-color: $black;
      }
    }
  }

  .previous-post a{
    padding-left: 25px;
        &:before{
          left: 0;
          top: 0;
          content: "\f060";
          font-family: 'Font Awesome 5 Pro';
        }
    }
    .next-post a{
      padding-right: 25px;
          &:before{
            content: "\f061";
            font-family: 'Font Awesome 5 Pro';
            right: 0;
            top: 0;
          }
      }
}

// 8. Comments
.comment-form-cookies-consent{
  padding-bottom: 15px;
}

.comments, .comment-respond, .related-posts{
  border-top: 1px solid rgba($black, 0.125);
  margin: 100px auto 0;
  padding: 45px 0 0;
  position: relative;
}

.comment-reply-title, .related-posts-title{
  font-size: inherit;
  margin: 0;
  position: absolute;
  left:0;
  top: 30px;
  width: calc(34.12% - 20px);
  text-decoration: underline 2px $rose;
}

.comment,.pingback{
  margin-top: 50px;
}

.comments > {
  .comment:first-of-type, .pingback:first-of-type{
    margin-top: 0;
  }
}

.comment{
  .comment{
    margin-left: 50px;
  }
}

.comment-meta{
  line-height: 1.4;
  margin-bottom: 25px;

  a{
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }

  span + span{
    margin-left: 25px;
  }

  .comment-date{
    margin-left: 0;
  }
}

.comment-author{
  display: flex;
  cite{
    font-weight: 600;

    a{
      text-decoration: underline;

      &:hover{text-decoration:none;}
    }
  }
}
.bypostauthor{
  .comment-by-post-author{
    display: inline;
  }
}

.comment-date, .comment-reply{
  a{
    color: rgba($black, .4);
  }
}

.comment-conent{
  p, li{
    margin-bottom: 20px;
  }
  *:last-child{
    margin-bottom: 0;
  }
}

.comment .reply{
 @include fontSize(14px);
 letter-spacing: .05em;
 margin-top: 22px;
 text-transform: uppercase;
 font-weight: 700;

 a{
   &:hover{
     text-decoration: underline;
   }
 }
}

//8.1 Comments Pagination
.comments-pagination{
  margin-top: 100px;
  position: relative;
  text-align: center;

  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  .page-numbers{
    display: inline-block;
    padding: 0 3px;
  }

  .page-numbers.dots{
    color: rgba($black, .4);
  }

  .current{
    font-weight: 700;
  }

  .prev, .next{
    margin:0;
    position: absolute;
    top: 0;
  }

  .prev{
    left: 0;
  }

  .next{
    right: 0;
  }
}

//8.2 Comments Responds
.comment-respond .logged-in-as{
  font-size:1em;
  line-height: 1.25;
  margin: 0 0 50px 0;
  a{
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.comment-respond{
  p + p{
    margin-top: 20px;
  }

  .comment-form-author, .comment-form-email{
    float: left;
    margin: 20px 0;
    width: calc(50% - 10px);
  }

  .comment-form-email{
    margin-left: 20px;
  }

  label{
    display: block;
  }

  input[type="checkbox"] + label{
    display: inline;
    @include fontSize(14px);
    margin: 0 0 0 5px;
  }

  .form-submit{
    text-align: right;

    #submit{
      background: $rose ;
      background-size:auto 12px;
      border-bottom: 1px solid transparent;
      border-radius: 4px;
      color: $white;
      font-size: 1em;
      font-weight: 600;
      transition: background ease-out .5s;
      

      &:hover{
        background: $lightpink;
        transition: background ease-in .5s;
      }
    }
  }
}

.comments .comment-respond{
  border: none;
  margin: 50px 0;
  padding: 50px 0;

  .comment-reply-title{
    position: static;
    width: 100%;

    small a{
      font-size: .8em;
      color: $medium-gray;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}

.comments .comment-respond .comment-reply-title + form > p:first-child {
	margin-top: 8px;
}

.comments .comment-respond .comment-reply-title + form > p:not(.logged-in-as):first-child{
  margin-top: 30px;
}

.comments .comment-respond .logged-in-as{
  margin-bottom: 30px;
}

//9. Related Posts
.related-posts{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

.related-post{
  float:left;
  margin-bottom: 25px;
  width: calc(50% - 10px);
  text-decoration: none;

  &:hover{
    border-bottom: $black;
  }

  .title{
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.25;
    margin: 0;
    word-break: break-word;

    span{
      border-bottom: 1px solid transparent;
      transition: border-color $var-base-transition;
    }

    &:hover{
      color: $rose;
      transition: color $var-base-transition;
    }
  }

}

.related-post-image{
  background:rgba($black, .1);
  margin-bottom: 10px;
  
  img{
    display: none;
  }

  &:before{
    content: "";
    display: block;
    padding-bottom: 62.5%;
    width: 100%;
  }
}

// 10. Entry Content
.entry-content{
  position: relative;
  word-break: break-word;

  br{
    margin-bottom: 15px;
  }

  a{
    border-bottom: 1px solid $black;
    text-decoration: none;

    &:hover{
      border-bottom-color: rgba($black, .25);
    }
  }
  > *:first-child{ margin-top:0;}
  > *:last-child{ margin-bottom: 0;}

  p{
    line-height: 1.6;
    margin-bottom: 25px;
  }

  p.has-background{
    padding: 20px;
  }

  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, 
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, 
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, 
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, 
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, 
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 30px;
}

  > ol, > ul{
    margin-bottom: 30px;
  }
}

p.has-drop-cap:not(:focus)::first-letter{
  font-size: 7.5em;
  margin: .1em .05em 0 -.075em;
}

.post-feature-image{
  padding-bottom: 5.75%;
}

//10.1 Pull Quotes
.entry-content{
  .pull{
    @include fontSize(29px);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.2;
    width: 280px;
  }

  .pull.left{
    float: left;
    hanging-punctuation: first;
    margin: 2px 25px 20px -80px;
  }

  .pull.right{
    float:right;
    hanging-punctuation: last;
    margin: 2px -80px 25px 20px;
    text-align: right;
  }
}

//10.2 Alignment Classes
.entry-content{
  .alignnone, .aligncenter{
    margin: 30px auto;
  }

  .alignwide, .alignfull{
    margin: 50px auto;
  }

  .alignfull{
    margin-left: calc(50% - 50vw + 190px);
    max-width:  calc(100vw - 380px);
    width: calc(100vw - 380px);
  }

  .wp-block-image.alignfull figcaption{
    padding: 0 5%;
  }

  .alignwide{
    margin-left: calc(50% - 430px);
    max-width:860px;
    width: 860px;
  }
}

// 11. WP Page Templates

//Full Width Template
.full-width-template main .section-inner{
  max-width:  800px;
}

//Portfolio, Resume Template
.resume-template, .portfolio-template{
  .entry-content{
    max-width: 800px;
    padding-left: 280px;

      h1,h2,h3,h4,h5,h6{
        border-top: 1px solid rgba($black, .125);
        @include fontSize(24px);
        font-weight: 500;
        margin: 60px 0 -28px -280px;
        padding: 40px calc(100% + 20px) 0 0;
      }

      > h1:first-child, > h2:first-child, > h3:first-child, > h4:first-child, > h5:first-child, > h6:first-child{
        margin-top: 0;
      }

      .alignnone{
        margin-left:  auto;
        margin-right: auto;
        max-width: 100%;
      }
    }
}

//12. Search
.error404{
  .search-form{
    margin-top: 42px;
  }
}

input.search-field{
  background: $rose url(assets/images/search.svg) no-repeat left center;
  background-size: 26px auto;
  border: none;
  border-bottom: 1px solid $black;
  border-radius: 0;
  box-shadow: none;
  color: $white;
  font-size: 1em;
  margin: 0;
  outline: none;
  padding: 18px 0 18px 40px;
  appearance: none;

  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-moz-placeholder{
    color: $black;
  }
}

// Search Overlay
.search-overlay{
  align-items: center;
  background: rgba($black, .65);
  display: flex;
  justify-content: center;
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: -99999px;
  right: 99999px;
  top: 0;
  transition: opacity .2s linear, left 0s .2s, right 0s .2s;
  z-index: 100002;

  &.active{
    opacity: 1;
    left: 380px;
    right: 0;
    transition: opacity .2s linear;
  }

  .search-field{
    background-size: 44px auto;
    border-bottom: none;
    @include fontSize(32px);
    padding: 24px 0 24px 69px;
    width: 450px;
  }
}